.DS_Store
.dropbox
.project
.coverage
.pydevproject
*.code-workspace
.vscode
/.settings
Pipfile*.*
/htmlcov
/build
/dist
/docs
/logs/*.log
/logs/*.gpx
/PyGPSClient_*
/PyGPSClient-*
/PyGPSClient.egg*
/__pycache__
/.dbeaver
/pygpsclient/__pycache__
*.pyc
mqapikey
/.pytest_cache/
pylint_report.txt
snapcraft.yaml
