.DS_Store
.dropbox
.project
.coverage
.pydevproject
/.settings
Pipfile*.*
/htmlcov
/build
/dist
/references/*.log
/references/*.gpx
/PyGPSClient_*
/PyGPSClient-*
/PyGPSClient.egg*
/__pycache__
/.dbeaver
/pygpsclient/__pycache__
*.pyc
mqapikey