.coverage
.dropbox
.DS_Store
.project
.pydevproject
.VSCodeCounter
*.bin
*.code-workspace
*.gpx
*.pyc
/__pycache__
/.dbeaver
/.pytest_cache/
/.settings
/build
/dist
/docs/_build
/examples/pointperfect
/examples/temp*
/htmlcov
/logs/*.gpx
/logs/*.log
/pygpsclient_*
/pygpsclient-*
/pygpsclient/__pycache__
/references
/wiki
mqapikey
Pipfile*.*
pylint_report.txt
snapcraft.yaml
src/pygpsclient.egg*